.header {
    background-color: #1a1b4b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
  
    .logo-container {
      display: flex;
      align-items: center;
      gap: 10px;
  
      .logo {
        max-width: 50px;
      }
  
      .company-name {
        font-size: 20px;
        font-weight: bold;
        color: white;
      }
    }
  }
  
  .input-container {
    display: flex;
    align-items: center;
  }
  
  .input-container input {
    flex: 1;
  }
  
  .edit-icon {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 8px;
    color: #ff7700;
    font-size: 16px;
  }
  
  .edit-icon i {
    pointer-events: none; /* Para que solo el botón sea clickeable */
  }
.tittle{
    padding-top: 100px;
}

  .profile-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 30px;
    gap: 80px;
    margin-top: 20px;
  
    .profile-card {
      text-align: center;
  
      .profile-image {
        border-radius: 50%;
        width: 200px; // Ajusté el tamaño de la imagen
        height: 200px;
        object-fit: cover;
        margin-bottom: 20px;
      }
  
      h2 {
        font-size: 24px;
        margin: 10px 0;
      }
  
      p {
        font-size: 18px;
        margin: 8px 0;
      }
  
      h3 {
        font-size: 20px;
        font-weight: bold;
      }
    }
  
    .profile-details {
        width: 500px;


      h1 {
        font-size: 28px;
        margin-bottom: 30px;
      }
  
      .profile-form {
        display: flex;
        flex-direction: column;
        gap: 20px;
  
        .form-group {
          display: flex;
          flex-direction: column;
          label {
            font-size: 16px;
            margin-bottom: 5px;
          }
          input {
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #ccc;
            font-size: 16px;
            width: 100%; 
            color: black;
          }
        }
  
        .edit-button {
          background-color: #ff7f00;
          color: white;
          border: none;
          padding: 12px;
          border-radius: 5px;
          cursor: pointer;
          transition: background-color 0.3s;
  
          &:hover {
            background-color: #d96c00;
          }
        }
      }
    }
  }
  
  /* Media Queries para Responsividad */
  
  /* Pantallas de laptop pequeñas y tablets */
  @media (max-width: 1024px) {
    .profile-container {
      flex-direction: column;
      align-items: center;
      gap: 30px;
    }
  
    .profile-card {
      .profile-image {
        width: 150px; // Imagen más pequeña para tablets
        height: 150px;
      }
  
      h2 {
        font-size: 20px;
      }
  
      p, h3 {
        font-size: 16px;
      }
    }
  
    .profile-details {
      h1 {
        font-size: 24px;
        margin-bottom: 20px;
      }
  
      .profile-form {
        .form-group label {
          font-size: 14px;
        }
        .form-group input {
          padding: 8px;
          font-size: 14px;
        }
        .edit-button {
          padding: 10px;
        }
      }
    }
  }
  
  /* Pantallas de móvil */
  @media (max-width: 768px) {
    .profile-container {
      flex-direction: column;
      align-items: center;
      padding: 20px;
      gap: 20px;
    }
  
    .profile-card {
      .profile-image {
        width: 100px; // Imagen más pequeña para móviles
        height: 100px;
      }
  
      h2 {
        font-size: 18px;
      }
  
      p, h3 {
        font-size: 14px;
      }
    }
  
    .profile-details {
      h1 {
        font-size: 20px;
        margin-bottom: 15px;
      }
  
      .profile-form {
        .form-group label {
          font-size: 12px;
        }
        .form-group input {
          padding: 6px;
          font-size: 12px;
        }
        .edit-button {
          padding: 8px;
        }
      }
    }
  }


  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal-content {
    color: black;
    background: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
  }
  
  .modal-actions {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .confirm-button {
    background: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .cancel-button {
    background: #f44336;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }