


<body>
  <div class="card">
    <h2>Recupera tu Contraseña</h2>
    <div class="candado"><img src="cont.png" alt=""></div>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
      <div class="input-box">
     
      <input class="effect-1" placeholder="Correo Electronico" id="email" formControlName="email" type="email">
              <span class="focus-border"></span>
              <div *ngIf="forgotPasswordForm.get('email')?.invalid && forgotPasswordForm.get('email')?.touched">
                <small class="text-danger">El correo es obligatorio y debe ser válido.</small>
              </div>
      </div>
      
      <br>
      <button type="submit" class="btn btn-primary" [disabled]="forgotPasswordForm.invalid">Recuperar Contraseña </button>
      <br>
    </form>
    <div *ngIf="loading">Un momento, estamos procesando tu solicitud...</div>
    <div *ngIf="message">{{ message }}</div>
    
    <br>
    <a routerLink="/login"><button type="button" class="btn btn-link">Iniciar Sesión</button></a>
  </div>
</body>

