<div class="change-password-container">
    <h1>Cambiar Contraseña</h1>
    <p>Por temas de seguridad, debes cambiar tu contraseña, ya que cuentas con la contraseña predeterminada del sistema</p>
    <form (ngSubmit)="changePassword()" #passwordForm="ngForm">
      <div>
        <label for="newPassword">Nueva Contraseña</label>
        <input
          type="password"
          id="newPassword"
          [(ngModel)]="newPassword"
          name="newPassword"
          required
          minlength="6"
          #newPasswordField="ngModel"
        />
        <div *ngIf="newPasswordField.errors?.['minlength'] && newPasswordField.touched">
          <p class="error-message">La contraseña debe ser de al menos 6 caracteres.</p>
        </div>
      </div>
      <div>
        <label for="confirmPassword">Confirmar Contraseña</label>
        <input
          type="password"
          id="confirmPassword"
          [(ngModel)]="confirmPassword"
          name="confirmPassword"
          required
          #confirmPasswordField="ngModel"
        />
        <div *ngIf="newPassword !== confirmPassword && confirmPasswordField.touched">
          <p class="error-message">Las contraseñas no coinciden.</p>
        </div>
      </div>
      <button 
      type="submit" 
      [disabled]="passwordForm.invalid" 
      [ngClass]="{'enabled': !passwordForm.invalid, 'disabled': passwordForm.invalid}">
      Guardar
    </button>
    </form>
  </div>
  