.image-container{
    width: 50%;
    padding-top: 2rem;
    background-color: #141850;
    margin-right: 2rem;
  }
  
  .login-container{
    height: 43.75em;
    width: 60em;
    margin: 6em auto;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .login-info-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0.5rem;
    background-color: #ffffff;
  }
  
  .tittle{
    text-transform: capitalize;
    font-size: 2.2rem;
    font-weight: 600;
    padding-top: 50px;
    color: #141850;
  }
  
  .social-login{
    margin-bottom: 50px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    color: black;
  }
  
  .social-login-element{
    width: 12.5rem;
    height: 3.75rem;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 0.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid black;
  }
  
  .social-login-element svg{
    width: 2.5rem;
    height: 2.5rem;
    position: relative;
    top: 0;
    left: -0.625rem;
  }
  
  .social-login-element:hover {
    background-color: #bebebe4d;
    cursor: pointer;
  }
  
  .login-info-container > p {
    font-size: 1.25em;
    color: black;
    margin-bottom: 30px;
  }
  
  .inputs-container {
    color: black;
    margin-top: 60px;
    height: 55%;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  
  .input, .btn {
    width: 100%;
    height: 3.125rem;
    font-size: 1em;
  }
  
  .input {
    width: 300px;
    padding-left: 20px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    letter-spacing: 1px;
    box-sizing: border-box;
    border: 2px solid #141850;
  }
  
  .input:hover {
    border: 2px solid #d86213;
  }
  
  .btn {
    width: 55%;
    letter-spacing: 1px;
    color: #fff;
    border: none;
    border-radius: 5px;
    background-color: #d86213;
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
    margin: 10px;
  }
  
  .inputs-container > p {
    font-weight: 600;
    color: rgba(0, 0, 0, 0.493);
  }
  
  .span {
    color: #5a42d1;
    font-weight: 600;
    cursor: pointer;
  }
  
  @media screen and (max-width: 1000px) {
    .image-container {
        display: none;
    }
  
    .login-container {
        width: 70%;
        margin-top: 3rem;
    }
  
    .login-info-container {
      width: 100%;
      height: 800px;
      text-align: center;
      margin-bottom: -40px;
  }
  }
  
  @media screen and (max-width: 650px) {
    .login-container {
        width: 90%;
    }
  }
  
  @media screen and (max-width: 500px) {
    .login-container {
        height: 90%;
    }
  
    .social-login {
        flex-direction: column;
        align-items: center;
        height: 30%;
    }
  
    .login-info-container > p {
        margin: 0;
    }
  }
  
  
  .modal-overlay {
    color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    max-width: 400px;
    width: 100%;
  }
  
  .spinner {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-top: 4px solid #3498db;  /* Color del spinner */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin: 20px auto;
  }
  
  /* Animación de rotación del spinner */
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .botones {
    display: flex;
    padding-top: 10px;
  }
  
  .modal p {
    margin: 10px;
  }