

<header>
  <nav>
      <!-- Checkbox for toggling menu -->
      <input type="checkbox" id="check">
      <!-- Menu icon -->
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>
      <!-- Site logo -->
      <label class="logo"><img src="mi-logo.png" alt=""></label>
      <!-- Navigation links -->
      <ul>
        <li><a class="active" routerLink="/home">Inicio</a></li>
        <li><a href="#">Planes</a></li>
        <li><a routerLink="/login" class="iniciar">Iniciar Sesion</a></li>
        <li><a routerLink="/register" class="reg">Registrarse</a></li>
        <li><a routerLink="/application-advisor" class="reg">Postula a asesor</a></li>
      </ul>
    </nav>
</header>

<!-- Sección Hero -->
<section class="hero">
  <div class="content">
    <h1>TEST VOCACIONAL</h1>
    <h2>CONSTRUYE TU FUTURO!</h2>
    <p>Descubre tu vocación ideal. Con este test, podrás conocer tus talentos y cómo encajan en el mundo laboral. ¡Da el primer paso hacia tu futuro profesional!</p>
    <a routerLink="/register" class="btn-comenzar">COMENZAR</a>
  </div>
  <div class="image">
    <img src="portadahome.png" alt="Estudiantes leyendo">
  </div>
</section>

