
  
  <div class="blog-card" *ngFor="let student of students">
    <div class="meta">
      <div class="photo" [style.background-image]="'url(' + student.img_profile + ')'"></div>
    </div>
    <div class="description">
      <h1>ID: {{ student.id }}</h1>
      <h2>{{ student.firstName }} {{student.lastName}}</h2>
      <p> Correo: {{student.email}}</p>
      <p> Plan: {{ student.plan }}</p>
      <p class="read-more">
        <a routerLink="/dashboard-admin/student-profile/{{student.id}}">Ver Perfil</a>
      </p>
    </div>
  </div>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
