

 <main class="profile-container">
    
    <section class="profile-card">
      <img [src]="advisor.img_profile" alt="Foto del asesor" class="profile-image">
      <h2>Pefil de {{ advisor.firstName }}</h2>
      <p>Especialidad:</p>
      <h3>{{advisor.specialty}}</h3>
    </section>
  
    <!-- Información de Perfil -->
    <section class="profile-details">
      <div class="profile-info" *ngIf="advisor">
        <div class="info-group">
          <label>Nombre:</label>
          <span class="static-text">{{ advisor.firstName }}</span>
        </div>
        <div class="info-group">
          <label>Apellidos:</label>
          <span class="static-text"> {{ advisor.lastName }}</span>
        </div>
        <div class="info-group">
          <label>Gmail:</label>
          <span class="static-text"> {{ advisor.email }}</span>
        </div>
      </div>
    </section>
  
    <!-- Horario -->
    <section class="horario-container">
      <p class="horario-title">HORARIO:</p>
    
   
      <div *ngFor="let availability of availabilities; let i = index" class="horario-escalera">
        <div class="horario-item">
          <span class="day">{{ availability.dayOfWeek }}</span>
          <span class="hours">{{ availability.startTime }} - {{ availability.endTime }}</span>
        </div>
      </div>
   
    </section>
  </main>
