
<main class="profile-container">
    <section class="profile-card">
      <div class="profile-image-container">
        <img [src]="student?.img_profile" alt="Foto de perfil" class="profile-image">
      </div>
      <h2>{{student?.firstName}} {{student?.lastName}}</h2>
      <div *ngIf="areasConCarreras.length > 0 ">
        <h2>Área recomendada:</h2>
        <div *ngFor="let area of areasConCarreras">
          <h3>{{ area.areaName }}</h3>  <!-- Muestra el nombre del área -->
        </div>
      </div>
    </section>
  
    <section class="profile-details">
      <h1>MI PERFIL</h1>
      <div class="profile-info">
        <div class="info-group">
          <label>Nombre:</label>
          <span class="static-text">{{student?.firstName}}</span>
        </div>
        <div class="info-group">
          <label>Apellidos:</label>
          <span class="static-text">{{student?.lastName}}</span>
        </div>
        <div class="info-group">
          <label>Gmail:</label>
          <span class="static-text">{{student?.email}}</span>
        </div>
      </div>
    </section>
  </main>
<p>
