




<body>
  <div class="card">
      <h2>Genera tu Nueva Contraseña</h2>
      <div class="candado"><img src="cont.png" alt=""></div>
      <h3>Introduce tu nueva contraseña</h3>
      <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
        <div class="inputs__item">
          <label class="inputs__label" for="password">Escribre tu nueva contraseña</label>
          <input class="input-box" id="password" formControlName="password" type="password"  />
          <div *ngIf="resetPasswordForm.get('password')?.invalid && resetPasswordForm.get('password')?.touched">
            <small class="text-danger">La contraseña debe tener al menos 6 caracteres.</small>
          </div>
        </div>
        <div class="inputs__item inputs__item--new">
          <label class="inputs__label" for="confirmPassword">Vuelve a escribir tu nueva contraseña</label>
          <input id="confirmPassword" 
          formControlName="confirmPassword" 
          type="password"  
          class="input-box" 
          id="new-password"  />
          <div *ngIf="resetPasswordForm.errors?.['notMatching'] && resetPasswordForm.get('confirmPassword')?.touched">
            <small class="text-danger">Las contraseñas no coinciden.</small>
          </div>
        </div>
        <div class="inputs__item inputs__item--cta">
          <button type="submit" class="btn btn-primary" [disabled]="resetPasswordForm.invalid">Restablecer</button> 
        </div>
      </form>
      <p *ngIf="message">{{ message }}</p>
  </div>
</body>